<!-- Header-BP -->
<header class="header" id="site-header">

  <div class="page-title">
    <h6><%= yield :title %></h6>
  </div>

  <div class="header-content-wrapper">
    <form class="search-bar w-search notification-list friend-requests">
      <div class="form-group with-button">
        <input class="form-control js-user-search" placeholder="<%= t ".search_people"%>" type="text">
        <button>
          <svg class="olymp-magnifying-glass-icon"><use xlink:href="<%= asset_path('sprites/icons.svg#olymp-magnifying-glass-icon') %>"></use></svg>
        </button>
      </div>
    </form>

    <%= link_to t(".find_friends"), "#", class: "link-find-friend" %>

    <div class="control-block">

      <%= link_to home_path do %>
        <div class="control-icon more has-items">
          <svg class="olymp-happy-face-icon"><use xlink:href="<%= asset_path('sprites/icons.svg#olymp-newsfeed-icon') %>"></use></svg>
        </div>
      <% end %>

      <div class="control-icon more has-items">
        <svg class="olymp-thunder-icon"><use xlink:href="<%= asset_path('sprites/icons.svg#olymp-thunder-icon') %>"></use></svg>

        <div class="label-avatar bg-primary">8</div>

        <%= render "layouts/notification_form" %>
      </div>

      <%= render "layouts/mini_profile" %>

    </div>
  </div>

</header>
<!-- ... end Header-BP -->

<!-- Responsive Header-BP -->
<header class="header header-responsive" id="site-header-responsive">

  <div class="header-content-wrapper">
    <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#request" role="tab">
          <div class="control-icon has-items">
            <svg class="olymp-happy-face-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
            <div class="label-avatar bg-blue">6</div>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#chat" role="tab">
          <div class="control-icon has-items">
            <svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
            <div class="label-avatar bg-purple">2</div>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#notification" role="tab">
          <div class="control-icon has-items">
            <svg class="olymp-thunder-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
            <div class="label-avatar bg-primary">8</div>
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#search" role="tab">
          <svg class="olymp-magnifying-glass-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
          <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
        </a>
      </li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content tab-content-responsive">

    <div class="tab-pane " id="search" role="tabpanel">

      <form class="search-bar w-search notification-list friend-requests">
          <div class="form-group with-button">
            <input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
          </div>
      </form>

    </div>

  </div>
  <!-- ... end  Tab panes -->

</header>
<!-- ... end Responsive Header-BP -->
<div class="header-spacer"></div>
