<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %> </title>

    <%= render "layouts/head" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/sidebar" %>
    <%= render "layouts/header" %>
    <div class="container">
    <%= yield %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </body>
</html>
